@model CRUD_Pessoa_Fisica_Juridica_2.ViewModel.AdicionarClienteViewModel

        <div class="form-group">
            @Html.LabelFor(model => model.PessoaJuridica.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PessoaJuridica.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PessoaJuridica.RazaoSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PessoaJuridica.CNPJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PessoaJuridica.CNPJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PessoaJuridica.CNPJ, "", new { @class = "text-danger" })
            </div>
        </div>

